[submodule "apps/host"]
	path = apps/host
	url = https://github.com/cookies-social-network/nuxt-host.git
[submodule "apps/remote-header"]
	path = apps/remote-header
	url = https://github.com/cookies-social-network/vue-header.git
